/* SCSS HEX */
$midnight-blue: #0f334e;
$dark-cornflower-blue: #1c5d8f;
$french-blue: #0077b6;
$blue-green: #0096c7;
$pacific-blue: #00b4d8;
$sky-blue-crayola: #48cae4;
$middle-blue: #90e0ef;
$blizzard-blue: #ade8f4;
$light-cyan: #caf0f8;
$lightest-blue: #e9fbff;
$live-red: #f05050;

$btn-colors: (
  "primary": #0096c7,
  "secondary": #6c757d,
  "success": #27c24c,
  "danger": #f05050,
  "warning": #ff902b,
  "light": #f8f9fa,
  "dark-medium": #515253,
);
